{% extends 'base.html.twig' %}

{% block title %}Comment ca marche{% endblock %}

{% block body %}
    {# First How It Works Section Start #}
    <section class='first-section-how-it-works'>
        <div class='first-hiw-container d-flex align-items-end'>
            <div class='container text-center'>
                <h3 class='mb-3'>Comment ça marche ?</h3>
                <p class='mb-5'>
                    Une réparation, ça fonctionne par étape. On vous explique tout. (mais<br> vite fait, on sait que vous avez plein de choses à faire)
                </p>
            </div>
        </div>
    </section>
    {# First How It Works Section End #}

    {#  Contacts Us Section Start  #}
    <section class='section-contacts-us'>
        <div class='arrow-container d-flex justify-content-center mb-5'>
            <img src='{{asset('assets/images/illustrations/hiw-arrow.png')}}' alt='arrow'> 
        </div>
        <div class='call-to-action container  pt-5 mb-5'>
            <div class='row row-cols-md-2 pb-5'>
                <div class='cta-left d-flex align-items-center'>
                    <div>
                        <h3>Contactez-nous.</h3>
                        <h4 class='mb-2'>Dites-nous comment nous pouvons vous aider.</h4>
                        <a class='btn btn-lg btn-outline-dark'>Nous contacter</a>
                    </div>
                </div>
                <div class='cta-right d-flex align-items-center'>
                    <div class='cta-r-btn d-flex justify-content-center align-items-center'>
                        <div class='cta-r-btn-cont d-flex justify-content-center align-items-center'>
                            <span>1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <section>
    {#  Contacts Us Section End  #}

    {# Choose Date Section Start #}
    <section class='section-choose-date'>
        <div class=' container pt-5 '>
            <div class='row row-cols-md-2 pb-5'>
                <div class='cd-left d-flex align-items-center'>
                    <div>
                        <h3>Choisissez la date & l’heure qui vous convient !</h3>
                        <p class='mb-3'>En quelques clics sur le site, vous choisissez le jour et l'heure<br> de l’intervention. Des créneaux courts de 2H : simple et pratique.</p>
                        <a class='btn btn-lg btn-outline-dark'>Prendre Rendez-Vous</a>
                    </div>
                </div>
                <div class='cd-right d-flex align-items-center'>
                    <div class='cd-r-btn d-flex justify-content-center align-items-center'>
                        <div class='cd-r-btn-cont d-flex justify-content-center align-items-center'>
                            <span>2</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# Choose Date Section End #}

    {# Our Technician Section Start  #}
    <section class='section-our-technician'>
        <div class='container pt-5'>
            <div class='row row-cols-md-2 pb-5'>
                <div class='ot-left d-flex align-items-center'>
                    <div>
                        <h3>Notre technicien intervient !</h3>
                        <p class='mb-5'>Notre technicien fait un constat et nous vous informons<br> sur le prix et le planning de la  prestation de service.</p>
                    </div>
                </div>
                <div class='ot-right d-flex align-items-center'>
                    <div class='ot-r-btn d-flex justify-content-center align-items-center'>
                        <div class='ot-r-btn-cont d-flex justify-content-center align-items-center'>
                            <span>3</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# Our Technician Section End  #}

    {# Choice Section Start  #}
    <section class='section-choice'>
        <div class=' container pt-5'>
            <div class='row row-cols-md-2 pb-5'>
                <div class='ch-left d-flex align-items-center'>
                    <div>
                        <h3>Vous avez le choix !</h3>
                        <p class='mb-5'>Nous ne commencerons le service que lorsque<br> vous aurez signé et validé le devis mis à votre disposition<br> par notre équipe.</p>
                    </div>
                </div>
                <div class='ch-right d-flex align-items-center'>
                    <div class='ch-r-btn d-flex justify-content-center align-items-center'>
                        <div class='ch-r-btn-cont d-flex justify-content-center align-items-center'>
                            <span>4</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# Choice Section End  #}

    {# Solved Section Start  #}
    <section class='section-solved'>
        <div class=' container pt-5'>
            <div class='row row-cols-md-2 pb-5'>
                <div class='sv-left d-flex align-items-center'>
                    <div>
                        <h3>Et voilà, votre probléme est réglé !</h3>
                    </div>
                </div>
                <div class='sv-right d-flex align-items-center'>
                    <div class='sv-r-btn d-flex justify-content-center align-items-center'>
                        <div class='sv-r-btn-cont d-flex justify-content-center align-items-center'>
                            <span>5</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='w-100 text-center'>
                <h3 class='my-3'>Alors, prêt à réparer ?</h3>
                <a href='' class='mb-5 btn btn-dark btn-lg'>Nous contacter</a>
            </div>
        </div>
    </section>
    {# Solved Section End  #}
{% endblock %}
