{% extends 'base.html.twig' %}

{% block title %}Page services !{% endblock %}

{% block body %}
    {# Section Informatique Start #}
    <section class='section-service section-service-informatique position-relative'>
        <h4 class='position-absolute title-right service-title'>Informatique</h4>
        <div class='row row-cols-md-2'>
            <div class='col-md-8 ssi-left'></div>
            <div class='col-md-4 ssi-right d-flex justify-content-center align-items-center'>
                <div class='container'>
                    <p>
                        Lorem ipsum is placeholder 
                        text commonly used in the
                        graphic, print, and publishing 
                        industries for previewing 
                        layouts and visual mockups.
                        Lorem ipsum is placeholder 
                        text commonly used in the
                        graphic, print, and publishing 
                        industries for previewing 
                        layouts and visual mockups.
                    </p>
                </div>
            </div>
        </div>
    </section>
    {# Section Informatique End #}

    {# Section Plomberie Start #}
    <section class='section-service section-service-plomberie position-relative'>
        <h4 class='position-absolute title-left service-title'>Plomberie</h4>
        <div class='row row-cols-md-2'>
            <div class='col-md-4 ssp-left d-flex justify-content-center align-items-center'>
                <div class='container'>
                    <p>
                        Lorem ipsum is placeholder 
                        text commonly used in the
                        graphic, print, and publishing 
                        industries for previewing 
                        layouts and visual mockups.
                        Lorem ipsum is placeholder 
                        text commonly used in the
                        graphic, print, and publishing 
                        industries for previewing 
                        layouts and visual mockups.
                    </p>
                </div>
            </div>
            <div class='col-md-8 ssp-right '></div>
        </div>
    </section>
    {# Section Plomberie End #}

    {# Section Menuiserie Start #}
    <section class='section-service section-service-menuiserie position-relative'>
        <h4 class='position-absolute title-right service-title'>Menuiserie</h4>
        <div class='row row-cols-md-2'>
            <div class='col-md-8 ssm-left'></div>
            <div class='col-md-4 ssm-right d-flex justify-content-center align-items-center'>
                <div class='container'>
                    <p>
                        Lorem ipsum is placeholder 
                        text commonly used in the
                        graphic, print, and publishing 
                        industries for previewing 
                        layouts and visual mockups.
                        Lorem ipsum is placeholder 
                        text commonly used in the
                        graphic, print, and publishing 
                        industries for previewing 
                        layouts and visual mockups.
                    </p>
                </div>
            </div>
        </div>
    </section>
    {# Section Menuiserie End #}

    {# Section Electromenager Start #}
    <section class='section-service section-service-electromenager position-relative'>
        <h4 class='position-absolute title-left service-title'>Electroménager</h4>
        <div class='row row-cols-md-2'>
            <div class='col-md-4 sse-left d-flex justify-content-center align-items-center'>
                <div class='container'>
                    <p>
                        Lorem ipsum is placeholder 
                        text commonly used in the
                        graphic, print, and publishing 
                        industries for previewing 
                        layouts and visual mockups.
                        Lorem ipsum is placeholder 
                        text commonly used in the
                        graphic, print, and publishing 
                        industries for previewing 
                        layouts and visual mockups.
                    </p>
                </div>
            </div>
            <div class='col-md-8 sse-right '></div>
        </div>
    </section>
    {# Section Electromenager End #}

    {# Section Electricite Start #}
    <section class='section-service section-service-electricite position-relative'>
        <h4 class='position-absolute title-right service-title'>Electricité</h4>
        <div class='row row-cols-md-2'>
            <div class='col-md-8 ssel-left'></div>
            <div class='col-md-4 ssel-right d-flex justify-content-center align-items-center'>
                <div class='container'>
                    <p>
                        Lorem ipsum is placeholder 
                        text commonly used in the
                        graphic, print, and publishing 
                        industries for previewing 
                        layouts and visual mockups.
                        Lorem ipsum is placeholder 
                        text commonly used in the
                        graphic, print, and publishing 
                        industries for previewing 
                        layouts and visual mockups.
                    </p>
                </div>
            </div>
        </div>
    </section>
    {# Section Electricite End #}

    {# Section Newsletter Start  #}
    <section class='section-newsletter'>
        <div class='container text-center'>
            <h4 class='pt-5 pb-3'>La Newsletter aussi utile qu'une boîte à outils</h4>
            <p class='pb-3'>
                Pas de panne à l'horizon ? Vous avez de la chance ! Pour que ça dure, il suffit de prendre soin de vos appareils ! Astuces, conseils, bons plans : on vous explique comment vous pouvez augmenter la durée de vie de votre électroménager.
            </p>
            <form class='' method='post'>
                <div class='mx-auto form d-flex justify-content-center align-items-center'>
                    <div class='input'>
                        <input type='text' placeholder='Votre adresse e-mail'>
                        <a class='btn btn-outline-dark' type='submit'>Je m'inscis</a>
                    </div>
                </div>
                <div class='d-flex justify-content-center align-items-center pb-5 offer-cont'>
                    <input type='checkbox' name='offer' class='m-1'>
                    <span>En plus, je souhaite recevoir les offres et actus sur les formations au métier de technicien</span>
                </div>
            </form>
        </div>
    </section>
    {# Section Newsletter End  #}
{% endblock %}
