{% extends 'front-office/base.html.twig' %}

{% block title %}Page qui sommes nous !{% endblock %}

{% block body %}
    {# Section Who-are-we Start #}
    <section class='section-service section-service-plomberie position-relative'>
        <h4 class='position-absolute title-left service-title'>Qui Sommes Nous ?</h4>
        <div class='row row-cols-md-2'>
            <div class='col-md-8 ssp-left d-flex justify-content-center align-items-center bg-gray'>
                <div class='container'>
                    <p class='p-5'>
                        MANEEBAR, qui veut dire main-d'œuvre en Wolof, proposent aux ménages et surtout aux entreprises différentes catégories de services ouvriers. Les porteurs du projet MANEEBAR, ayant fait des études en Informatique Appliquée à la Gestion des Entreprises, sont d’abord les premiers ouvriers de MANEEBAR. En effet, nous aurons à offrir des services d’installation et de maintenance pour tout matériel informatique. De plus, nos services seront axés dans les secteurs tels que : la menuiserie, l’électricité, la plomberie, l’électroménager pour assurer confort, tranquillité et productivité à la maison comme au bureau à nos différents prospects. 
                    </p>
                </div>
            </div>
            <div class='col-md-4 waw-bg'></div>
        </div>
    </section>
    {# Section Who-are-we End #}

    {# Section Our-visions Start #}
    <section class='section-service section-service-menuiserie position-relative'>
        <h4 class='position-absolute title-right service-title'>Nos Visions</h4>
        <div class='row row-cols-md-2'>
            <div class='col-md-4 waw-visions'></div>
            <div class='col-md-8 ssm-right d-flex justify-content-center align-items-center bg-blue'>
                <div class='container'>
                    <p>
                        Nous visons une solution efficace face à la difficulté que représente la recherche d’ouvriers qui correspondent aux critères de base des clients. Notre vision commune est donc de devenir une entreprise de renommée, connue dans tout le Sénégal. Pour y arriver, nous devons accroître la notoriété de MANEEBAR afin de la propulser à la première place au niveau national dans son domaine.
                    </p>
                </div>
            </div>
        </div>
    </section>
    {# Section Our-visions End #}

    {# Section Our-values Start #}
    <section class='section-service section-service-electromenager position-relative'>
        <h4 class='position-absolute title-left service-title'>Nos Valeurs</h4>
        <div class='row row-cols-md-2'>
            <div class='col-md-8 sse-left d-flex justify-content-center align-items-center bg-gray'>
                <div class='container'>
                    <p>
                        Les valeurs que nous défendons sont en accord avec notre vision. L’innovation, l’intégrité et le professionnalisme sont des maîtres mots au sein de notre entreprise. En effet, nous mettons un point d’honneur à la satisfaction de nos clients. Pour cela nous nous engageons à honorer les engagements pris envers eux en leur proposant des services de qualité à travers des ouvriers fiables et compétents.
                    </p>
                </div>
            </div>
            <div class='col-md-4 waw-last'></div>
        </div>
    </section>
    {# Section Our-values End #}

{% endblock %}
